<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>nombre del lugar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card">
    <ion-img src="./assets/img/user/perfil.png" class="card-image"></ion-img>
    <ion-card-content>
      <ion-card-title>nombre del lugar</ion-card-title>
      <p class="card-description">descripcion del lugar</p>
      <div class="card-details">
        <p class="detail-item"><ion-icon name="location"></ion-icon>direccion</p>
        <p class="detail-item"><ion-icon name="time"></ion-icon>horario</p>
        <p class="detail-item"><ion-icon name="pricetag"></ion-icon>precio</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

