
<ion-content color="light">
  <div class="container">
    <ion-img [src]="punto.imagenURL" class="img"></ion-img>
    <div class="content-text">
      <!-- <span>{{punto.nombre | uppercase}}</span> -->
      <ion-item color="light" lines="none">
        <ion-label>{{punto.nombre | uppercase}}</ion-label>
        <!-- <ion-button slot="end" color="medium" fill="clear">
          <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
        </ion-button> -->
      </ion-item>
    </div>
    <div style="width: 90%;">
      <ion-segment [(ngModel)]="tipoDireccion">
        <ion-segment-button value="driving-traffic">
          <ion-icon name="car-outline"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="cycling">
          <ion-icon name="bicycle-outline"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="walking">
          <ion-icon name="walk-outline"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </div>
    <div style="width: 90%;">
      <ion-button expand="block" (click)="indicaciones()">
        <ion-icon name="locate-outline" slot="icon-only"></ion-icon> &nbsp; Indicaciones
      </ion-button>
    </div>
  </div>
</ion-content>

