#map {
    width: 100%;
    height:100vh;
}

.marker {
    display: block;
    border-radius: 50%;
    border: 3px solid white;
    cursor: pointer;
    padding: 0;
    width: 50px;
    height: 50px;
    background-size: cover;
    // clip-path: polygon(50% 0%, 100% 100%, 0% 100%); /* Forma triangular */
    // clip-path: polygon(50% 0%, 100% 60%, 70% 100%, 30% 100%, 0% 60%);
}
  