<ion-content>
  <ion-grid fixed>
    <form [formGroup]="formLinea">
      <!-- primera fila -->
      <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4">
          <ion-item>
            <ion-label position="stacked">Id (Autogenerado)</ion-label>
            <ion-input formControlName="id" readonly></ion-input>
            <ion-button slot="end" fill="clear" (click)="generarnuevoid()">
              <ion-icon name="refresh-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4">
          <ion-item>
            <ion-label position="stacked">Nombre Linea</ion-label>
            <ion-input formControlName="nombre" placeholder="ingrese solo el nombre de la linea"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4">
          <ion-item>
            <ion-label>Categoria</ion-label>
            <ion-select placeholder="elegir categoria" slot="end" formControlName="categoria">
              <ion-select-option value="micro">Micro</ion-select-option>
              <ion-select-option value="taxi-trufi">Taxi-trufi</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <!-- segunda fila -->
      <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4">
          <ion-item>
            <ion-label>Hora Inicio</ion-label>
            <ion-datetime-button slot="end" datetime="inicio"></ion-datetime-button>
          </ion-item>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime formControlName="horainicio"
                            id="inicio"  
                            presentation="time"
                            minute-values="[0,15,30,45]"
                            hour-cycle="h11">
              </ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4">
          <ion-item>
            <ion-label>Hora Fin</ion-label>
            <ion-datetime-button slot="end" datetime="fin"></ion-datetime-button>
          </ion-item>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="fin" formControlName="horafin" presentation="time" hour-cycle="h11"
                minute-values="[0,15,30,45]">
              </ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4">
          <ion-item>
            <ion-label>Icono</ion-label>
            <ion-select placeholder="Elegir icono" slot="end" formControlName="icono">
              <ion-select-option value="arrow">Arrow</ion-select-option>
              <ion-select-option value="arrow-2">Arrow-2</ion-select-option>
              <ion-select-option value="arrow-3">Arrow-3</ion-select-option>
              <ion-select-option value="arrow-4">Arrow-4</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <!-- tercera fila -->
      <ion-row>
        <ion-col size="12">
          <div formGroupName="parada1">
            <ion-list>
              <ion-list-header>
                <ion-label>Informacion de parada 1</ion-label>
                <ion-button (click)="openModalPuntos('p1')">modificar punto</ion-button>
              </ion-list-header>
              <ion-row>
                <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
                  <ion-item>
                    <ion-label position="stacked">Nombre de parada:</ion-label>
                    <ion-input formControlName="nombre" placeholder="Nombre de parada 1"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
                  <ion-item>
                    <ion-label position="stacked">Latitud:</ion-label>
                    <ion-input type="text" readonly formControlName="lat" placeholder="(Autocompletado)"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
                  <ion-item>
                    <ion-label position="stacked">Longitud:</ion-label>
                    <ion-input type="text" readonly formControlName="lng" placeholder="(Autocompletado)"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-list>
          </div>
        </ion-col>
      </ion-row>
      <!-- cuarta fila -->
      <ion-row>
        <ion-col size="12">
          <div formGroupName="parada2">
            <ion-list>
              <ion-list-header>
                <ion-label>Informacion de parada 2</ion-label>
                <ion-button (click)="openModalPuntos('p2')">modificar punto</ion-button>
              </ion-list-header>
              <ion-row>
                <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
                  <ion-item>
                    <ion-label position="stacked">Nombre de parada:</ion-label>
                    <ion-input formControlName="nombre" placeholder="Nombre de parada 2"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
                  <ion-item>
                    <ion-label position="stacked">Latitud:</ion-label>
                    <ion-input type="text" readonly formControlName="lat" placeholder="(Autocompletado)"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
                  <ion-item>
                    <ion-label position="stacked">Longitud:</ion-label>
                    <ion-input type="text" readonly formControlName="lng" placeholder="(Autocompletado)"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-list>
          </div>
        </ion-col>
      </ion-row>
      <!-- quinta fila  -->
      <ion-row>
        <ion-col size="12">
          <div formGroupName="ruta1">
            <ion-list>
              <ion-list-header>
                <ion-label>Informacion de Ruta1</ion-label>
                <ion-button (click)="openModalRutas('ruta1')">
                  modificar ruta
                </ion-button>
              </ion-list-header>
              <ion-row>
                <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
                  <ion-item>
                    <ion-label position="stacked">Detalle:</ion-label>
                    <ion-input formControlName="detalle" placeholder="Detalles sobre la ruta"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
                  <ion-item>
                    <ion-label position="stacked">Ruta:</ion-label>
                    <ion-input readonly formControlName="coordinates" placeholder="(Autogenerado)"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-list>
          </div>
        </ion-col>
      </ion-row>
      <!-- sexta fila -->
      <ion-row>
        <ion-col size="12">
          <div formGroupName="ruta2">
            <ion-list>
              <ion-list-header>
                <ion-label>Informacion de Ruta2</ion-label>
                <ion-button (click)="openModalRutas('ruta2')">
                  modificar ruta
                </ion-button>
              </ion-list-header>
              <ion-row>
                <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
                  <ion-item>
                    <ion-label position="stacked">Detalle</ion-label>
                    <ion-input formControlName="detalle" placeholder="Detalles sobre la ruta"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
                  <ion-item>
                    <ion-label position="stacked">Ruta</ion-label>
                    <ion-input readonly formControlName="coordinates" placeholder="(Autogenerado)"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-list>
          </div>
        </ion-col>
      </ion-row>
      <!-- fila botones -->
      <ion-row>
        <ion-col size="12">
          <ion-button (click)="vistaprevia()" [disabled]="formLinea.invalid">
            <ion-icon name="eye-outline" slot="icon-only"></ion-icon> &nbsp; vista previa
          </ion-button>
          <ion-button (click)="export()" [disabled]="formLinea.invalid" color="success">
            <ion-icon name="checkmark-circle-outline" slot="icon-only"></ion-icon> &nbsp;generar json
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
    <ion-row>
      <ion-col size="12">

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>