/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@media (width >=800px) {
  ion-modal {
    /* Ancho personalizado */
    --width: 80%;
    /* Alto personalizado */
    --height: 80%;
  }
}

.content-popup {
  position: relative;
  h3 {
    left: 5px;
    position: absolute;
    bottom: 10px;
    background-color: rgba(19, 1, 1, 0.368);
    color: rgb(245, 245, 245);
    padding: 5px;
    text-transform:capitalize;
  }
  img{
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
}


// .mapboxgl-popup-content {
//     max-width: 500px;
//     border-radius: 10px;
//     font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
//     // background: linear-gradient(90deg, rgba(65, 16, 84, 1) 0%, rgba(46, 11, 129, 0.9612219887955182) 100%);
// background-color:transparent;
// }

// .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
//     border-top-color: rgb(65, 16, 84);
// }

// .content{
//     background-color: rgba(41, 40, 40, 0.432);
//     padding: 10px;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     border-radius: 8px;
// }
// .content > h3{
//     text-align: center;
// }
// .content > img{
//     width: 150px;
//     height: 150px;
//     aspect-ratio: 1 /1;
//     object-fit: cover;
//     text-align: center;
// }




// .popup {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

// //informacion en colores de las ruras 
// .info {
//     display: flex;
//     flex-direction: column;
//     // border: 1px solid red;
// }

// .info .item {
//     display: flex;
//     gap: 1rem;
//     align-items: center;
// }
// .info .item >div{
//     width: 20px;
//     height: 20px;
//     border-radius: 50%;
// }